.buscador {
  width: 100vw;
  margin: 0px !important;
  padding: 0px !important;
}
.fire {
  background-color: #ff7f00;
}
.fireText {
  background-color: #ff7f0088;
}

.grass {
  background-color: #99ff66;
}
.grassText {
  background-color: #99ff6688;
}

.water {
  background-color: #b0e2ff;
}
.waterText {
  background-color: #b0e2ff88;
}
.normal {
  background-color: #ddccaa;
}
.normalText {
  background-color: #ddccaa88;
}
.electric {
  background-color: #ffd700;
}
.electricText {
  background-color: #ffd70088;
}
.bug {
  background-color: #99cc33;
}
.bugText {
  background-color: #99cc3388;
}
.ice {
  background-color: #add8e6;
}
.iceText {
  background-color: #add8e688;
}
.fighting {
  background-color: #ff6a6a;
}
.fightingText {
  background-color: #ff6a6a88;
}
.poison {
  background-color: #cc88bb;
}
.poisonText {
  background-color: #cc88bb88;
}
.rock {
  background-color: #cd853f;
}
.rockText {
  background-color: #cd853f88;
}
.flying {
  background-color: #baaaff;
}
.flyingText {
  background-color: #baaaff88;
}
.psychic {
  background-color: #ffb5c5;
}
.psychicText {
  background-color: #ffb5c588;
}
.ground {
  background-color: #deb887;
}
.groundText {
  background-color: #deb88788;
}
.ghost {
  background-color: #778899;
}
.ghostText {
  background-color: #77889988;
}
.dark {
  background-color: #a9a9a9;
}
.darkText {
  background-color: #a9a9a988;
}
.dragon {
  background-color: #ab82ff;
}
.dragonText {
  background-color: #ab82ff88;
}
.steel {
  background-color: #cccccc;
}
.steelText {
  background-color: #cccccc88;
}
.fairy {
  background-color: #ffb0ff;
}
.fairyText {
  background-color: #ffb0ff88;
}
