.splashScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2000;
  background: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.splashLogo {
  position: relative;
  width: 80px;
  height: 80px;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}
